/ReportePresupuesto.jasper
/PresupuestoDetalle.jasper
/AgendaReporte.jasper
/PagoReporte.jasper
/PresupuestoReporte.jasper
/RecetaReporte.jasper
/ReposoDetalle.jasper
/RecetaDetalle.jasper
/ReposoReceta02.jasper
/Clientes.jasper
