<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration>
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class"> org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost/atelier</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">126845</property>

		<property name="hibernate.current_session_context_class">thread</property>
		<property name="connection_pool_size">10</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>

		<mapping class="atelier.modelo.entidades.Agenda"></mapping>
		<mapping class="atelier.modelo.entidades.Configuracion"></mapping>
		<mapping class="atelier.modelo.entidades.Familiares"></mapping>
		<mapping class="atelier.modelo.entidades.Funcionario"></mapping>
		<mapping class="atelier.modelo.entidades.Medicamento"></mapping>
		<mapping class="atelier.modelo.entidades.Paciente"></mapping>
		<mapping class="atelier.modelo.entidades.Pago"></mapping>
		<mapping class="atelier.modelo.entidades.Presupuesto"></mapping>
		<mapping class="atelier.modelo.entidades.PresupuestoDetalle"></mapping>
		<mapping class="atelier.modelo.entidades.Procedimiento"></mapping>

		<mapping class="atelier.modelo.entidades.Recetario"></mapping>
		<mapping class="atelier.modelo.entidades.RecetarioDetalle"></mapping>
		<mapping class="atelier.modelo.entidades.Reposo"></mapping>
		<mapping class="atelier.modelo.entidades.Seguimiento"></mapping>

	</session-factory>
</hibernate-configuration>